.imageLink {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 40%  ;
}

.files {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: #64748b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 20px;
}

.fileGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    padding: 30px;
    margin-top: 60px;

}
